@use 'variables' as v;
@use 'mobile' as m;

$left-width: 20%;
$center-width: 60%;
$right-width: 20%;

:host {
  display: block;
  z-index: 100;
  flex-shrink: 0;
}

.header {
  height: v.$header-height;
  background-color: v.$bg-main;
  border-bottom: 2px solid v.$bg-secondary;
  display: flex;
  align-items: center;
  padding: 0 24px;
  font-size: v.$font-size-base;

  @media (max-width: 768px) {
    padding: 0 15px;
  }

  .left-section {
    flex: 0 0 $left-width;
    display: flex;
    justify-content: flex-start;

    .logo-container {
      width: v.$item-size;
      height: v.$item-size;
      background-color: v.$bg-main;
      display: none;
      align-items: center;
      justify-content: center;
      border-radius: v.$border-radius-main;
      transition: v.$transition;

      @media (max-width: 768px) {
        display: flex;
      }

      .logo {
        width: v.$logo-size;
        height: v.$logo-size;
      }

      &:hover,
      &.active {
        background-color: v.$bg-secondary;
      }
    }
  }

  .center-section {
    flex: 0 0 $center-width;
    display: flex;
    justify-content: center;
    align-items: center;
    color: v.$text-main;

    @media (max-width: 768px) {
      font-size: m.$font-size-base;
    }
  }

  .right-section {
    flex: 0 0 $right-width;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-links {
      display: flex;
      gap: 12px;

      .nav-item {
        width: v.$item-size;
        height: v.$item-size;
        background-color: v.$bg-secondary;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: v.$text-main;
        text-decoration: none;
        border-radius: v.$border-radius-main;
        transition: v.$transition;

        &:hover,
        &.active {
          background-color: v.$bg-tertiary;
          color: v.$text-active;
        }

        &:hover .icon,
        &.active .icon {
          background-color: v.$text-active;
        }

        .icon {
          width: v.$icon-size;
          height: v.$icon-size;
          background-color: v.$text-main;

          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-size: contain;
          mask-size: contain;

          &.profile {
            -webkit-mask-image: url('/profile.svg');
            mask-image: url('/profile.svg');
          }
        }
      }
    }
  }
}
