$bg-main: #1a1b1e;
$bg-secondary: #282a2e;
$bg-tertiary: #373a40;
$text-main: #a1a1aa;
$text-active: #f4f4f5;

$border-radius-main: 15px;
$border-radius-secondary: 10px;

$control-height: 50px;

$shadow-main: 0 8px 24px rgba(0, 0, 0, 0.2);

$logo-size: 40px;
$item-size: 50px;
$icon-size: 30px;
$transition: all 0.3s ease;

$navbar-width: 80px;
$header-height: 80px;

$font-size-base: 20px;
$font-size-small: 18px;
