@use 'variables' as v;

.publicity-badge {
  display: flex;
  font-size: v.$font-size-small;
  cursor: pointer;
  user-select: none;

  .publicity-private {
    padding: 5px;
    color: v.$status-grey-text;
    background-color: v.$status-grey-bg;
    border: 2px solid v.$status-grey-border;
    border-radius: v.$border-radius-secondary 0 0 v.$border-radius-secondary;
    transition: v.$transition;

    &.active {
      color: v.$status-red-text;
      background-color: v.$status-red-bg;
      border: 2px solid v.$status-red-border;
    }
  }

  .publicity-public {
    padding: 5px;
    color: v.$status-grey-text;
    background-color: v.$status-grey-bg;
    border: 2px solid v.$status-grey-border;
    border-radius: 0 v.$border-radius-secondary v.$border-radius-secondary 0;
    transition: v.$transition;

    &.active {
      color: v.$status-green-text;
      background-color: v.$status-green-bg;
      border: 2px solid v.$status-green-border;
    }
  }
}
