<nav class="navbar">
  <div class="logo-container">
    <img src="favicon.ico" alt="Logo" class="logo" />
  </div>

  <div class="nav-links">
    <a routerLink="/subjects/my" routerLinkActive="active" class="nav-item">
      <img class="icon" src="placeholder.svg" />
    </a>
    <a routerLink="/subjects/browse" routerLinkActive="active" class="nav-item">
      <img class="icon" src="placeholder.svg" />
    </a>
    <a routerLink="/settings" routerLinkActive="active" class="nav-item">
      <img class="icon" src="placeholder.svg" />
    </a>
  </div>
</nav>
