@use 'variables' as v;

body {
  background-color: v.$bg-main;
  margin: 0;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.grade-badge {
  min-width: 40px;
  height: 40px;
  background-color: v.$bg-tertiary;
  color: #fff;
  border-radius: v.$border-radius-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: v.$font-size-base;
  user-select: none;
  transition: v.$transition;

  &.smaller {
    font-size: v.$font-size-small;
  }
}
